{% extends "header.html" %}

{% block title %}
Энциклопедия DEVMAN | {{topic_title}} | {{article_title}}
{% endblock %}

{% block navbar %}
<nav class="navbar fixed-top navbar-inverse bg-inverse">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="/">Энциклопедия DevMan</a>
    <a class="navbar-brand" href="./">{{topic_title}}</a>
  </div>
</nav>
{% endblock %}

{% block content %}
  <h3>Статья "{{article_title| safe}}"</h3>
  {{html_content | safe}}
{% endblock %}