{% extends "header.html" %}

{% block title %}
Энциклопедия DEVMAN | {{topic_title}} | {{article_title}}
{% endblock %}

{% block head %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/main.css" rel="stylesheet">
{% endblock %}


{% block navbar %}
    <h1>Devman Wiki</h1>
  <div class="navbar navbar-default " role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">  <a href="../">Главная</a> / <a href="./">{{topic_title}}</a> / {{article_title}}</div>
    </div>
</div>
{% endblock %}

{% block content %}  
  <h2>{{article_title}}</h2>
      <p>{{html_content | safe}}</p>
{% endblock %}