{% extends "header.html" %}

{% block title %}
Энциклопедия DEVMAN | {{topic_title}}
{% endblock %}

{% block navbar %}
<nav class="navbar fixed-top navbar-inverse bg-inverse">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="/19_site_generator/site">Энциклопедия DevMan</a>
    <a class="navbar-brand" href="./">{{topic_title}}</a>
  </div>
</nav>
{% endblock %}

{% block content %}
<h3>Раздел: {{topic_title | safe}}</h3>
  <ul>
    {% for topic in topics %}
    <li><a href="./{{topic[3]}}.html">{{topic[4]}}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
